<div class="d-flex align-items-start" >
  <%= render partial: 'shared/sidebar' %>
  <div class="d-flex flex-column align-items-center mt-5" style="flex: 1;">
    <div class="d-flex align-items-center flex-column">
      <%= render partial: 'shared/flash' %>
      <% if @user %>
        <div 
      class="d-flex flex-column align-items-center justify-content-center me-3 text-white"
      style="
      width: 75px; height: 75px; 
      background-color: rgB(147, 174, 197); border-radius: 50%; 
      font-size: 1.75rem; box-shadow: 0 5px 15px 0 rgba(0,0,29, 0.15)
      "
      >
          <%= @user.full_name.split.map {|word| word.slice(0)}.join('') %>
        </div>
        <div>
          <h1 class="mt-3">
            <%= @user.full_name %>
          </h1>
          <p>
            Flare developer
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
