<nav class="nav nav-pills flex-column me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical"
  style="box-shadow: 10px 0 20px 0 rgba(0,0,29, .25); height: 100vh; width: 15%; padding: .25rem;"
  >
  <a class="nav-link active mt-3" href="#" aria-current="page">Home</a>
  <a class="nav-link" href="#">Appearance</a>
  <a class="nav-link" href="#">Templates</a>
  <a class="nav-link" href="#">Pages</a>
  <a class="nav-link" href="#">Settings</a>
</nav>
